@model IEnumerable<Event_Management_System.Models.BookingInfoVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Mst.cshtml";
    //var viewData = ViewBag.BookingInfo as IEnumerable<Event_Management_System.Models.BookingInfoVM>;
}


<div class="row mt-5">
    <div class="col-md-6">
        <h3>Booking Details</h3>
    </div>
    <div class="col-md-6 text-end">
        <a href="/BookingInfo/Add" class="btn btn-primary">Add New</a>
    </div>
</div>



<table class="table table-bordered">
    <tr>
       
            <th>
               Event Name
            </th>
        


        <th>
            booking_date
        </th>
        <th>
          booking_time
        </th>
        <th>
          TotalbookSeat
        </th>
        <th>
           TotalPrice
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event_name)
                @*item.Event_name*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booking_date)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booking_time)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalbookSeat)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
                
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Booking_id }) |
                @Html.ActionLink("Delete", "Remove", new { id = item.Booking_id })
            </td>
        </tr>
    }

</table>
