@model Event_Management_System.Models.EventVM
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Mst.cshtml";
    var dropdownList = new List<SelectListItem>
{
        new SelectListItem { Value = "0", Text = "<--Select Option-->" },
        new SelectListItem { Value = "AM", Text = "AM" },
        new SelectListItem { Value = "PM", Text = "PM" }
    };
}


<h2>Add Event</h2>

@using (Html.BeginForm("AddEvent", "Event", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            <label>Event Name</label>
            @Html.DropDownListFor(x => x.Event_Id, ViewBag.EvtMstData as SelectList, "--Select Event---", new { @class = "form-control", @type = "date" })
        </div>
        <div class="col-md-6">
            <label>Event Location</label>
            @Html.DropDownListFor(x => x.EventLoc_ID, ViewBag.LocData as SelectList, "--Select Location--", new { @class = "form-control", @type = "date" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Event From Date</label>
            @Html.TextBoxFor(x => x.Event_FromDate, new { @class = "form-control", @type = "date" })
        </div>
        <div class="col-md-6">
            <label>Event To Date</label>
            @Html.TextBoxFor(x => x.Event_ToDate, new { @class = "form-control", @type = "date" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Event From Time</label>

            @*@Html.TextBoxFor(x => x.Event_FromDate, new { @class = "form-control", @type = "time" })*@
            @Html.TextBoxFor(x => x.Event_FromTime, new { @class = "form-control", id = "Event_FromTime" })

        </div>

        <div class="col-md-6">
            <label>Event To Time</label>
            @Html.TextBoxFor(x => x.Event_ToTime, new { @class = "form-control", id = "Event_ToTime" })
        </div>
      
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Priceper Seat</label>
            @Html.TextBoxFor(x => x.PriceperSeat, new { @class = "form-control", @type = "number" })
        </div>
        <div class="col-md-6">
            <label>Max Seat Book Per User</label>
            @Html.TextBoxFor(x => x.maxSeatbookperuser, new { @class = "form-control", @type = "number" })
        </div>
    </div>

    @*<div class="row">
            <div class="col-md-6">
                <label>Price</label>
                @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @type = "number" })
            </div>
            <div class="col-md-6">
                    <label>Created Date</label>
                    @Html.TextBoxFor(x => x.Created_Date, new { @class = "form-control", @type = "date" })
                </div>
        </div>*@

    <div class="row">
        @*<div class="col-md-7">
                <label>Created By</label>
                @Html.TextBoxFor(x => x.Created_by, new { @class = "form-control", @type = "number" })
            </div>*@
        <div class="col-md-5">
            <input type="submit" value="Save" class="btn btn-success mt-3" />
            <a href="/Event/Index" class="btn btn-secondary mt-3">Back</a>
        </div>
    </div>
}
<!-- Include Flatpickr CSS (for styling) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Include jQuery (optional, but useful if you're using jQuery) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include Flatpickr JS (for functionality) -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr("#Event_FromTime", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "h:i K", // This will format the time as 12-hour (with AM/PM)
            time_24hr: false // This ensures the time is in 12-hour format
        });
    });</script>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr("#Event_ToTime", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "h:i K", // This will format the time as 12-hour (with AM/PM)
            time_24hr: false // This ensures the time is in 12-hour format
        });
    });</script>